$color-white: #fff;

$color-span: #01a2a6;
$color-green-light: #29d9c2;

$color-dark: #10273d;

$color-gray-light: #777777;

$color-yellow: #ffffa6;


$font-1: 'Lato', sans-serif;
$font-2: 'Ultra', serif;
$font-3: 'Montserrat', sans-serif;

$padding: 14rem;