$color-white: #fff;
$color-white-darker:  #f6f6f6;

$color-span: #01a2a6;
$color-green-light: #29d9c2;

$color-mint: #28d7c1;

$color-mint-time: #23c6b6;

$color-page-nums: #acacac;

$color-blue-light: #f2fefe;

$color-dark: #10273d;

$color-dark-footer: #2f2933;

$color-input-border: #e8e8e8;
$color-placeholder: #b5b5b5;

$color-gray-light: #777777;
$color-gray-lightest: #aeaeae;
$color-gray-heading: #626262;
$color-gray-time: #a8a8a8;

$color-footer-txt: #5d5c5c;

$color-gray-border: #d5d57d;

$color-gray-sort: #bcbcbc;

$color-gray-estimated: #b9b9b9;

$color-form-placeholder: #c7c7c7;

$color-yellow: #ffffa6;
$color-yellow-dark: #f4e79d;
$color-yellow-darkest: #d8cb7d;
$color-yellow-bg: #d5c879;

$color-yellow-maps: #fff772;

$color-gold-txt: #aea25c;
$color-gold: #f5e99e;

$color-green-lightest: #bdf271;

$color-green-button: #c3f37f;

$color-green-border:  #7ca83f;

$font-1: 'Lato', sans-serif;
$font-2: 'Ultra', serif;
$font-3: 'Montserrat', sans-serif;

$padding: 14rem;

$bp-laptop: 93.75em; // 1500px
$bp-largest: 87.5em; // 1400px
$bp-huge: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em;  //800px
$bp-small: 37.5em; // 600px

