$color-white: #fff;
$color-white-darker:  #f6f6f6;

$color-span: #01a2a6;
$color-green-light: #29d9c2;

$color-page-nums: #acacac;

$color-blue-light: #f2fefe;

$color-dark: #10273d;

$color-input-border: #e8e8e8;
$color-placeholder: #b5b5b5;

$color-gray-light: #777777;
$color-gray-lightest: #aeaeae;
$color-gray-heading: #626262;
$color-gray-time: #a8a8a8;

$color-gray-border: #d5d57d;


$color-yellow: #ffffa6;
$color-yellow-dark: #f4e79d;
$color-yellow-darkest: #d8cb7d;
$color-yellow-bg: #d5c879;

$color-gold-txt: #aea25c;
$color-gold: #f5e99e;


$font-1: 'Lato', sans-serif;
$font-2: 'Ultra', serif;
$font-3: 'Montserrat', sans-serif;

$padding: 14rem;