*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
}

body {
  overflow-x: hidden;
}

@-webkit-keyframes profilePic {
  0% {
    top: 0;
    left: 0;
  }
  45% {
    top: 0;
    left: 20vw;
  }
  50% {
    top: -20vh;
    left: 20vw;
  }
  55% {
    top: -20vh;
    left: 0;
  }
  100% {
    top: 0;
    left: 0;
  }
}

@keyframes profilePic {
  0% {
    top: 0;
    left: 0;
  }
  45% {
    top: 0;
    left: 20vw;
  }
  50% {
    top: -20vh;
    left: 20vw;
  }
  55% {
    top: -20vh;
    left: 0;
  }
  100% {
    top: 0;
    left: 0;
  }
}

@-webkit-keyframes shaking {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  25% {
    -webkit-transform: rotate(8deg);
            transform: rotate(8deg);
  }
  50% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes shaking {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  25% {
    -webkit-transform: rotate(8deg);
            transform: rotate(8deg);
  }
  50% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

.menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: min-content 1fr min-content;
      grid-template-columns: -webkit-min-content 1fr -webkit-min-content;
      grid-template-columns: min-content 1fr min-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 2rem;
}

.menu__logo {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
}

.menu__span {
  font-weight: 700;
}

.menu__menu {
  justify-self: flex-end;
}

.menu__list {
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(5rem, 10rem))[5];
      grid-template-columns: repeat(5, minmax(5rem, 10rem));
  grid-gap: 2rem;
}

.menu__link {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
  padding: 1rem 1rem;
  border: 3px solid transparent;
  text-align: center;
  border-radius: 40px;
  font-weight: 500;
  -webkit-transition: border .4s;
  transition: border .4s;
}

.menu__link:hover {
  border: 3px solid white;
  font-weight: 700;
}

.menu__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__photo-box {
  margin-right: 5px;
}

.menu__photo-box:hover .menu__img {
  position: relative;
  -webkit-animation: profilePic 2s;
          animation: profilePic 2s;
}

.menu__svg {
  fill: #fff;
  -webkit-animation: shaking .3s infinite;
          animation: shaking .3s infinite;
}

.heading {
  font-family: "Ultra", serif;
}

.heading--1 {
  text-transform: uppercase;
  color: #fff;
  font-size: 8rem;
  line-height: 1.6;
  letter-spacing: 5px;
}

.heading--2 {
  color: #29d9c2;
  font-size: 6rem;
  letter-spacing: 2px;
}

.heading--3 {
  color: #01a2a6;
  font-weight: 300;
  font-size: 3rem;
  font-family: 'Lato', sans-serif;
}

.heading--4 {
  color: #fff;
  font-size: 4.4rem;
  font-weight: 300;
  font-family: "Lato", sans-serif;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.heading--5 {
  font-family: 'Lato', sans-serif;
  font-size: 2.4rem;
  font-weight: 300;
  color: #626262;
}

.heading--6 {
  z-index: 1;
  font-size: 1.8rem;
  font-family: 'Lato', sans-serif;
}

.heading__span {
  color: #01a2a6;
}

.heading--green {
  color: #29d9c2;
  padding-top: 2.8rem;
}

.heading--green::after {
  content: "";
  display: block;
  height: 3px;
  width: 7rem;
  background-color: rgba(41, 217, 194, 0.9);
  margin: 1.7rem auto 0 auto;
}

.heading--white {
  color: #fff;
}

.button {
  text-decoration: none;
  color: #10273d;
  padding: 2rem 3rem;
  font-size: 1.6rem;
  border-radius: 40px;
  text-transform: uppercase;
  font-weight: 900;
  -webkit-transition: all .2s;
  transition: all .2s;
  display: inline-block;
}

.button:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.button:active {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.button--yellow {
  background-color: #ffffa6;
}

.button--green {
  background-color: #bdf271;
  padding: 2.2rem 2rem;
}

.button--mint {
  background-color: #28d7c1;
  padding: 2.2rem 2.8rem;
  margin-left: 3rem;
}

.button--green, .button--mint {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  align-items: center;
}

.button__icon {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  padding-right: 1rem;
}

.search {
  position: relative;
}

.search__input {
  padding: 1rem 4rem;
  outline: none;
  border: 1px solid #e8e8e8;
  border-radius: 40px;
}

.search__input::-webkit-input-placeholder {
  color: #b5b5b5;
}

.search__input:-ms-input-placeholder {
  color: #b5b5b5;
}

.search__input::-ms-input-placeholder {
  color: #b5b5b5;
}

.search__input::placeholder {
  color: #b5b5b5;
}

.search__icon {
  position: absolute;
  top: 50%;
  left: 5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}

.gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[20];
      grid-template-columns: repeat(20, 1fr);
  -ms-grid-rows: (min-content)[2];
      grid-template-rows: repeat(2, -webkit-min-content);
      grid-template-rows: repeat(2, min-content);
  margin-top: 3rem;
  grid-gap: 3rem;
}

.gallery__base {
  background-color: rgba(255, 255, 255, 0.95);
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
}

.gallery__base--1 {
  padding: 5rem 6rem 7.5rem 5rem;
  grid-column: 13 / -1;
  -webkit-clip-path: polygon(0 50%, 2% 48%, 2% 0, 100% 0, 100% 100%, 2% 100%, 2% 52%);
          clip-path: polygon(0 50%, 2% 48%, 2% 0, 100% 0, 100% 100%, 2% 100%, 2% 52%);
}

.gallery__base--2 {
  padding: 4.4rem 3.8rem 4rem 3.1rem;
  -ms-grid-column: 1;
  -ms-grid-column-span: 10;
  grid-column: 1 / span 10;
  -webkit-clip-path: polygon(0 0, 98% 0, 98% 48%, 100% 50%, 98% 52%, 98% 100%, 0 100%);
          clip-path: polygon(0 0, 98% 0, 98% 48%, 100% 50%, 98% 52%, 98% 100%, 0 100%);
}

.gallery__base--3 {
  position: absolute;
  padding: 2.5rem;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.gallery__box {
  position: relative;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.gallery__box--1 {
  background-image: url("../../img/photo1.png");
  grid-column: 1 / -1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[20];
      grid-template-columns: repeat(20, 1fr);
}

.gallery__box--2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / 13;
  background-image: url("../../img/photo2.png");
  -ms-grid-columns: (1fr)[20];
      grid-template-columns: repeat(20, 1fr);
}

.gallery__box--3 {
  grid-column: 13 / -1;
  background-image: url("../../img/photo3.png");
  position: relative;
}

.gallery__img--1 {
  margin-bottom: 3.2rem;
}

.gallery__img--2 {
  margin-bottom: 1rem;
}

.gallery__text {
  color: #777777;
  font-size: 1.6rem;
  line-height: 200%;
  margin-top: 1rem;
}

.reference {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  bottom: 2%;
}

.reference--1 {
  left: 53%;
}

.reference--2, .reference--3 {
  right: 2%;
}

.reference__see {
  font-size: 1.6rem;
  color: #f6f6f6;
  font-weight: 700;
}

.reference__box {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.reference__arrow {
  margin-left: 8px;
}

.page {
  margin-top: 7.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page__chars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page__nums {
  width: 125px;
  font-size: 1.8rem;
  font-weight: 400;
  color: #acacac;
  letter-spacing: 4px;
  cursor: pointer;
  font-family: "Ultra", serif, sans-serif;
}

.page__active {
  font-size: 2.4rem;
  color: #01a2a6;
}

.page__next, .page__last {
  text-decoration: none;
  color: #acacac;
  font-size: 1.8rem;
}

.page__next {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.planner {
  width: 55%;
  border-radius: 8px;
}

.planner__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 1.8rem;
  background-color: #29d9c2;
  padding: 2.8rem 0 2.9rem 0;
  position: relative;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
}

.planner__bg-box {
  position: absolute;
  top: 4%;
  right: 0;
}

.planner__bg {
  position: absolute;
}

.planner__bg--1 {
  right: 0;
}

.planner__bg--2 {
  right: 37.5rem;
  top: 3.2rem;
}

.planner__bg--3 {
  right: .5rem;
}

.planner__bg--4 {
  right: 11rem;
  top: 1rem;
}

.planner__content {
  background-color: #ffffa6;
  padding: 2.6rem 3.1rem 9.2rem 4.2rem;
}

.planner__day {
  color: #29d9c2;
  font-size: 1.6rem;
  font-weight: 600;
}

.planner__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

.planner__info--2 {
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.planner__date {
  color: #29d9c2;
  font-size: 1.6rem;
  font-weight: 600;
}

.planner__svg {
  fill: #01a2a6;
  margin-left: 1rem;
}

.planner__tour {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border: 1px solid #d5d57d;
  border-radius: 5px;
  padding: 1.8rem 2.5rem;
  position: relative;
}

.planner__tour--2 {
  margin-top: 1.5rem;
  padding: 1rem 2.5rem;
}

.planner__icon-box {
  margin-right: 3rem;
}

.planner__icon-box--2 {
  margin-right: 4.8rem;
}

.planner__time {
  color: #a8a8a8;
  font-size: 1.8rem;
  font-weight: 300;
  margin-left: auto;
}

.planner__add {
  background-color: #f4e79d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 34%;
  padding: 1rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-left: 64%;
}

.planner__txt {
  color: #d8cb7d;
  font-size: 1.6rem;
  font-weight: 600;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  margin-right: 5px;
}

.planner__plus-box {
  width: 2.2rem;
  height: 2.2rem;
  background-color: #d5c879;
  border-radius: 50%;
  position: relative;
}

.planner__plus {
  font-size: 1.6rem;
  color: #ffffa6;
}

.planner__atractions {
  background-color: #f5e99e;
  width: 95%;
  margin-left: 3%;
  border-bottom-left-radius: 5px;
}

.planner__atraction {
  font-size: 1.6rem;
  font-weight: 700;
  color: #aea25c;
  text-align: left;
  padding: 2rem 2.5rem;
}

.planner__atraction:not(:last-child)::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background-color: #d8cb7d;
  -webkit-transform: translateY(2rem);
          transform: translateY(2rem);
}

.planner__drag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6rem;
  font-weight: 600;
  color: #d8cb7d;
  background-color: rgba(245, 233, 158, 0.4);
  padding: 2.6rem 0;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='5' ry='5' stroke='%230000001F' stroke-width='6' stroke-dasharray='10%2c 20' stroke-dashoffset='32' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 5px;
}

.selection {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 3.4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.selection__bar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 3.4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.selection__sort {
  color: #bcbcbc;
  font-size: 1.6rem;
  font-weight: 500;
}

.selection__span {
  font-weight: 800;
  color: #29d9c2;
}

.selection__svg {
  fill: #bcbcbc;
  cursor: pointer;
}

.selection__search {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.selection__content {
  width: 100%;
  margin-top: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 1.9rem;
}

.selection__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  padding: .7rem 2.2rem .7rem 2rem;
}

.selection__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.selection__time {
  color: #b9b9b9;
  font-size: 1.4rem;
  font-weight: 300;
  margin-top: 1rem;
}

.selection__hours {
  color: #23c6b6;
}

.selection__num {
  font-weight: 700;
}

.selection__view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.selection__details {
  font-size: 1.4rem;
  color: #23c6b6;
  font-weight: 600;
  cursor: pointer;
}

.form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.form__input {
  padding: 2rem 2.5rem;
  border-radius: 5px;
  border: 1px solid #c7c7c7;
  outline: none;
  color: #626262;
}

.form__input::-webkit-input-placeholder {
  color: #b9b9b9;
  font-family: "Lato", sans-serif, sans-serif;
  font-style: italic;
}

.form__input:-ms-input-placeholder {
  color: #b9b9b9;
  font-family: "Lato", sans-serif, sans-serif;
  font-style: italic;
}

.form__input::-ms-input-placeholder {
  color: #b9b9b9;
  font-family: "Lato", sans-serif, sans-serif;
  font-style: italic;
}

.form__input::placeholder {
  color: #b9b9b9;
  font-family: "Lato", sans-serif, sans-serif;
  font-style: italic;
}

.form__input--email {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
}

.form__input--text {
  resize: none;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  font-family: "Lato", sans-serif;
}

.form__btn {
  justify-self: flex-end;
  -ms-grid-column: 2;
  grid-column: 2;
  width: 65%;
  border-radius: 4rem;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.5rem;
  background-color: #c3f37f;
  padding: 2.7rem 2.5rem 2.7rem 2rem;
  font-weight: 600;
  margin-top: 1rem;
  cursor: pointer;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  background-image: radial-gradient(circle, rgba(29, 188, 253, 0.370186) 0%, rgba(29, 229, 253, 0) 300%), url("../../img/headerBG.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 4rem 14rem;
  position: relative;
}

.header::after {
  content: '';
  display: block;
  width: 90%;
  height: 5vh;
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  bottom: 0;
  left: 7%;
}

.header__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.header__text {
  color: #fff;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 200%;
  margin-bottom: 8rem;
}

.city {
  padding: 10rem 14rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.city__img-box {
  width: 50%;
}

.city__img {
  padding: 0 6rem;
}

.city__content {
  width: 50%;
}

.city__text {
  color: #777777;
  font-size: 1.6rem;
  line-height: 3.5rem;
  margin-top: 4rem;
}

.destination {
  padding: 7rem 14rem 8.5rem 14rem;
  background-color: #f2fefe;
}

.destination__top {
  margin: 0 auto;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.destination__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}

.destination__info-txt {
  font-size: 1.6rem;
  color: #aeaeae;
  margin-top: -4px;
  margin-left: 8px;
}

.destination__text {
  color: #777777;
  font-size: 1.6rem;
  width: 80%;
  margin: 5rem auto;
  padding-right: 20%;
  line-height: 200%;
}

.destination__mid {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.destination__slash {
  color: #777777;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 900;
}

.destination__distance {
  margin: 0 1rem;
}

.destination__span {
  color: #aeaeae;
  font-weight: 400;
}

.ittinery {
  padding: 7rem 14rem 10rem 14rem;
  text-align: center;
}

.ittinery__text {
  color: #777777;
  font-size: 1.6rem;
  width: 60%;
  margin: 6rem auto 14rem auto;
}

.ittinery__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ittinery__btns {
  text-align: right;
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contact {
  padding: 9rem 14rem 7.5rem 14rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(1, 162, 166, 0.795956)), to(rgba(1, 162, 166, 0.798757))), url(../../img/plan.png);
  background-image: linear-gradient(180deg, rgba(1, 162, 166, 0.795956) 0%, rgba(1, 162, 166, 0.798757) 100%), url(../../img/plan.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.contact__content {
  margin-top: 11rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr min-content 1fr;
      grid-template-columns: 1fr -webkit-min-content 1fr;
      grid-template-columns: 1fr min-content 1fr;
  grid-gap: 10%;
}

.contact__or {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transform: translateY(-7rem);
          transform: translateY(-7rem);
}

.contact__data {
  text-align: left;
}

.contact__adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5rem;
  color: #fff;
  font-size: 1.2rem;
}

.contact__icon-box {
  margin-right: 7px;
}

.contact__find {
  text-transform: uppercase;
  font-style: italic;
  color: #fff772;
}

.contact__phone-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
}

.newsletter {
  background-image: linear-gradient(60deg, rgba(189, 242, 113, 0.899597) 50%, rgba(176, 228, 103, 0.899597) 50%);
  padding: 6rem 14rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.newsletter__text {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  margin-top: 2rem;
}

.newsletter__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  border: 1px solid #7ca83f;
  border-radius: 6px;
}

.newsletter__input {
  padding: 3rem;
  width: 28vw;
  border: none;
  outline: none;
  font-size: 1.6rem;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.newsletter__input::-webkit-input-placeholder {
  font-style: italic;
  color: #c7c7c7;
}

.newsletter__input:-ms-input-placeholder {
  font-style: italic;
  color: #c7c7c7;
}

.newsletter__input::-ms-input-placeholder {
  font-style: italic;
  color: #c7c7c7;
}

.newsletter__input::placeholder {
  font-style: italic;
  color: #c7c7c7;
}

.newsletter__btn {
  border: none;
  background-color: #01a2a6;
  cursor: pointer;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.newsletter__img {
  padding: 0 3rem;
}

.footer {
  background-color: #2f2933;
  padding: 2rem 14rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  height: 34rem;
  overflow: hidden;
}

.footer__bg-box {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.footer__bg {
  position: absolute;
}

.footer__bg--1 {
  bottom: -30%;
  left: -5%;
  width: 110%;
}

.footer__bg--2 {
  left: 4rem;
  top: 18rem;
}

.footer__bg--3 {
  left: 12rem;
  top: 11rem;
}

.footer__bg--4 {
  top: 12rem;
  left: 19rem;
}

.footer__bg--5 {
  left: 57rem;
  top: 15rem;
}

.footer__bg--6 {
  left: 82rem;
  top: 18rem;
}

.footer__bg--7 {
  left: 88rem;
  top: 10rem;
}

.footer__bg--8 {
  left: 120rem;
  top: 14rem;
}

.footer__bg--9 {
  left: 164rem;
  top: 7.5rem;
}

.footer__terms {
  z-index: 1;
  color: #5d5c5c;
  font-size: 1.4rem;
}

.footer__dot {
  margin: 0 5px;
}

.footer__copy {
  -ms-flex-item-align: end;
      align-self: flex-end;
  z-index: 1;
  color: #aeaeae;
  font-size: 1.4rem;
  font-weight: 500;
}

.footer__socials {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__icon:not(:last-child) {
  margin-right: 1rem;
}
/*# sourceMappingURL=main.css.map */