*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
}

body {
  overflow-x: hidden;
}

@-webkit-keyframes profilePic {
  0% {
    top: 0;
    left: 0;
  }
  45% {
    top: 0;
    left: 20vw;
  }
  50% {
    top: -20vh;
    left: 20vw;
  }
  55% {
    top: -20vh;
    left: 0;
  }
  100% {
    top: 0;
    left: 0;
  }
}

@keyframes profilePic {
  0% {
    top: 0;
    left: 0;
  }
  45% {
    top: 0;
    left: 20vw;
  }
  50% {
    top: -20vh;
    left: 20vw;
  }
  55% {
    top: -20vh;
    left: 0;
  }
  100% {
    top: 0;
    left: 0;
  }
}

@-webkit-keyframes shaking {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  25% {
    -webkit-transform: rotate(8deg);
            transform: rotate(8deg);
  }
  50% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes shaking {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  25% {
    -webkit-transform: rotate(8deg);
            transform: rotate(8deg);
  }
  50% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

.menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: min-content 1fr min-content;
      grid-template-columns: -webkit-min-content 1fr -webkit-min-content;
      grid-template-columns: min-content 1fr min-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 2rem;
}

.menu__logo {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
}

.menu__span {
  font-weight: 700;
}

.menu__menu {
  justify-self: flex-end;
}

.menu__list {
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(5rem, 10rem))[5];
      grid-template-columns: repeat(5, minmax(5rem, 10rem));
  grid-gap: 2rem;
}

.menu__link {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
  padding: 1rem 1rem;
  border: 3px solid transparent;
  text-align: center;
  border-radius: 40px;
  font-weight: 500;
  -webkit-transition: border .4s;
  transition: border .4s;
}

.menu__link:hover {
  border: 3px solid white;
  font-weight: 700;
}

.menu__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__photo-box {
  margin-right: 5px;
}

.menu__photo-box:hover .menu__img {
  position: relative;
  -webkit-animation: profilePic 2s;
          animation: profilePic 2s;
}

.menu__svg {
  fill: #fff;
  -webkit-animation: shaking .3s infinite;
          animation: shaking .3s infinite;
}

.heading {
  font-family: "Ultra", serif;
}

.heading--1 {
  text-transform: uppercase;
  color: #fff;
  font-size: 8rem;
  line-height: 1.6;
  letter-spacing: 5px;
}

.heading--2 {
  color: #29d9c2;
  font-size: 6rem;
  letter-spacing: 2px;
}

.heading__span {
  color: #01a2a6;
}

.button {
  text-decoration: none;
  color: #10273d;
  padding: 2rem 3rem;
  font-size: 1.6rem;
  border-radius: 40px;
  text-transform: uppercase;
  font-weight: 900;
  -webkit-transition: all .2s;
  transition: all .2s;
  display: inline-block;
}

.button:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.button:active {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.button--yellow {
  background-color: #ffffa6;
}

.search {
  position: relative;
}

.search__input {
  padding: 1rem 4rem;
  outline: none;
  border: 1px solid #e8e8e8;
  border-radius: 40px;
}

.search__input::-webkit-input-placeholder {
  color: #b5b5b5;
}

.search__input:-ms-input-placeholder {
  color: #b5b5b5;
}

.search__input::-ms-input-placeholder {
  color: #b5b5b5;
}

.search__input::placeholder {
  color: #b5b5b5;
}

.search__icon {
  position: absolute;
  top: 50%;
  left: 5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}

.gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[20];
      grid-template-columns: repeat(20, 1fr);
  -ms-grid-rows: (min-content)[2];
      grid-template-rows: repeat(2, -webkit-min-content);
      grid-template-rows: repeat(2, min-content);
  margin-top: 3rem;
  grid-gap: 3rem;
}

.gallery__box--1 {
  grid-column: 1 / -1;
}

.gallery__box--2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / 13;
}

.gallery__box--3 {
  grid-column: 13 / -1;
}

.gallery__img {
  display: block;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  background-image: radial-gradient(circle, rgba(29, 188, 253, 0.370186) 0%, rgba(29, 229, 253, 0) 300%), url("../../img/headerBG.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 4rem 14rem;
  position: relative;
}

.header::after {
  content: '';
  display: block;
  width: 90%;
  height: 5vh;
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  bottom: 0;
  left: 7%;
}

.header__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.header__text {
  color: #fff;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 200%;
  margin-bottom: 8rem;
}

.city {
  padding: 10rem 14rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.city__img-box {
  width: 50%;
}

.city__img {
  padding: 0 6rem;
}

.city__content {
  width: 50%;
}

.city__text {
  color: #777777;
  font-size: 1.6rem;
  line-height: 3.5rem;
  margin-top: 4rem;
}

.destination {
  padding: 4rem 14rem;
  background-color: #f2fefe;
}

.destination__top {
  margin: 0 auto;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.destination__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}

.destination__info-txt {
  font-size: 1.6rem;
  color: #aeaeae;
  margin-top: -4px;
  margin-left: 8px;
}

.destination__text {
  color: #777777;
  font-size: 1.6rem;
  width: 80%;
  margin: 5rem auto;
  padding-right: 20%;
  line-height: 200%;
}

.destination__mid {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.destination__slash {
  color: #777777;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 900;
}

.destination__distance {
  margin: 0 1rem;
}

.destination__span {
  color: #aeaeae;
  font-weight: 400;
}
/*# sourceMappingURL=main.css.map */