.footer {
    background-color: $color-dark-footer;
    padding: 2rem $padding;
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 34rem;
    overflow: hidden;

    @media only screen and(max-width: $bp-huge) {
        padding: 1.6rem 2rem;
    }
    
    

    &__bg-box {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    &__bg {
        position: absolute;

        &--1 {
            bottom: -30%;
            left: -5%;
            width: 110%;
            @media only screen and(max-width: $bp-laptop) {
                width: auto;
                bottom: -5rem;
                left: -1rem;
            }
        }

        &--2 {
            left: 2%;
            top: 18rem;

            @media only screen and(max-width: $bp-laptop) {
                left: 8rem;
            }
        }

        &--3 {
            left: 6%;
            top: 11rem;

            @media only screen and(max-width: $bp-laptop) {
                left: 15rem;
                top: 14rem;
            }
        }

        &--4 {
            top: 12rem;
            left: 10%;

            @media only screen and(max-width: $bp-laptop) {
                left: 21rem;
                top: 15rem;
            }
        }

        &--5 {
            left: 30%;
            top: 15rem;

            @media only screen and(max-width: $bp-laptop) {
                left: 49.5rem;
                top: 17rem;
            }
        }

        &--6 {
            left: 42%;
            top: 18rem;

            @media only screen and(max-width: $bp-laptop) {
                left: 67rem;
                top: 19rem;
            }
        }

        &--7 {
            left: 46%;
            top: 10rem;

            @media only screen and(max-width: $bp-laptop) {
                left: 72rem;
                top: 12rem;
            }
        }

        &--8 {
            left: 63%;
            top: 14rem;

            @media only screen and(max-width: $bp-laptop) {
                left: 97.5rem;
                top: 15.5rem;
            }
        }

        &--9 {
            left: 86%;
            top: 7.5rem;

            @media only screen and(max-width: $bp-laptop) {
                left: 131rem;
                top: 10.5rem;
            }
        }
    }

    &__terms {
        z-index: 1;
        color: $color-footer-txt;
        font-size: 1.4rem;
    }

    &__dot {
        margin: 0 5px;
    }

    &__copy {
        align-self: flex-end;
        z-index: 1;
        color: $color-gray-lightest;
        font-size: 1.4rem;
        font-weight: 500;
    }

    &__socials {
        z-index: 1;
        display: flex;
    }

    &__icon {

        &:not(:last-child) {
            margin-right: 1rem;
        }
    }
}