.ittinery {
    padding: 7rem $padding 10rem $padding;
    text-align: center;

    @media only screen and(max-width: $bp-largest) {
        padding: 6rem 5rem 9rem 5rem;
    }

    @media only screen and(max-width: $bp-small) {
        padding: 6rem 3rem 8rem 3rem;
    }

    &__text {
        color: $color-gray-light;
        font-size: 1.6rem;
        width: 60%;
        margin: 6rem auto 14rem auto; 

        @media only screen and(max-width: $bp-large) {
            margin: 5rem auto;
            width: 80%;
        }
    }

    &__content {
        display: flex;

        @media only screen and(max-width: $bp-large) {
            flex-direction: column-reverse;
            align-items: center;
        }
    }

    &__btns {
        text-align: right;
        margin-top: 2rem;
        display: flex;
        justify-content: flex-end;

        @media only screen and(max-width: $bp-large) {
            justify-content: center;
        }
    }
}