.ittinery {
    padding: 7rem $padding 10rem $padding;
    text-align: center;

    &__text {
        color: $color-gray-light;
        font-size: 1.6rem;
        width: 60%;
        margin: 6rem auto 14rem auto; 
    }

    &__content {
        display: flex;
    }

    &__btns {
        text-align: right;
        margin-top: 2rem;
        display: flex;
        justify-content: flex-end;
    }
}