.planner {
    width: 55%;
    border-radius: 8px;

    @media only screen and(max-width: $bp-large) {
        width: 100%;
        margin-top: 4rem;
    }

    &__header {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color-white;
        font-size: 1.8rem;
        background-color: $color-green-light;
        padding: 2.8rem 0 2.9rem 0;
        position: relative;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        overflow: hidden;
    }

    &__bg-box {
        position: absolute;
        top: 4%;
        right: 0;
    }

    &__bg {
        position: absolute;

        &--1 {
            right: 0;
        }

        &--2 {
           right: 37.5rem;
           top: 3.2rem; 
        }

        &--3 {
            right: .5rem;
        }

        &--4 {
            right: 11rem;
            top: 1rem;
        }
    }

    &__content {
        background-color: $color-yellow;
        padding: 2.6rem 3.1rem 9.2rem 4.2rem;
    }

    &__day {
        color: $color-green-light;
        font-size: 1.6rem;
        font-weight: 600;
    } 

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;

        &--2 {
            margin-top: 5rem;
            margin-bottom: 3rem;
        }
    }

    &__date {
        color: $color-green-light;
        font-size: 1.6rem;
        font-weight: 600;
    }

    &__svg {
        fill: $color-span;
        margin-left: 1rem;
    }

    &__tour {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: $color-white;
        border: 1px solid $color-gray-border;
        border-radius: 5px;
        padding: 1.8rem 2.5rem;
        position: relative;

        &--2 {
            margin-top: 1.5rem;
            padding: 1rem 2.5rem;

            @media only screen and(max-width: $bp-small) {
                padding: 1.8rem 2.5rem;
            }
        }
    }

    &__icon-box {
        margin-right: 3rem;
        
        @media only screen and(max-width: $bp-small) {
            display: none;
        }

        &--2 {
            margin-right: 4.8rem;
        }
    }

    &__icon {

    }

    &__time {
        color: $color-gray-time;
        font-size: 1.8rem;
        font-weight: 300;
        margin-left: auto;
    }

    &__add {
        background-color: $color-yellow-dark;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 34%;
        padding: 1rem;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        margin-left: 64%;

        @media only screen and(max-width: $bp-laptop) {
            width: 50%;
            margin-left: 48%;
        }

        @media only screen and(max-width: $bp-small) {
            width: 70%;
            margin-left: 28%;
        }
    }

    &__txt {
        color: $color-yellow-darkest;
        font-size: 1.6rem;
        font-weight: 600;
        transform: translateY(-2px);
        margin-right: 5px;
    }

    &__plus-box {
        width: 2.2rem;
        height: 2.2rem;
        background-color: $color-yellow-bg;
        border-radius: 50%;
        position: relative;
    }

    &__plus {
        font-size: 1.6rem;
        color: $color-yellow;
    }

    &__atractions {
        background-color: $color-gold;
        width: 95%;
        margin-left: 3%;
        border-bottom-left-radius: 5px;
    }

    &__atraction {
        font-size: 1.6rem;
        font-weight: 700;
        color: $color-gold-txt;
        text-align: left;
        padding: 2rem 2.5rem;

        &:not(:last-child) {
            &::after {
                content: "";
                display: block;
                height: 1px;
                width: 100%;
                background-color: $color-yellow-darkest;
                transform: translateY(2rem);
            }
        }
    }
    
    &__drag {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.6rem;
        font-weight: 600;
        color: $color-yellow-darkest;
        background-color: rgba($color-gold, 0.4);
        padding: 2.6rem 0;
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='5' ry='5' stroke='%230000001F' stroke-width='6' stroke-dasharray='10%2c 20' stroke-dashoffset='32' stroke-linecap='square'/%3e%3c/svg%3e");
        border-radius: 5px;
    }
}