@keyframes profilePic {
    
    0% {
        top: 0;
        left: 0;
    }

    45% {
        top: 0;
        left: 40vw;
    }

    50% {
        top: -30vh;
        left: 40vw;
    }
    
    55% {
        top: -30vh;
        left: 0;
    }

    100% {
        top: 0;
        left: 0;
    }
}

@keyframes shaking {
    
    0% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(8deg);
    }

    50% {
        transform: rotate(-8deg);
    }

    100% {
        transform: rotate(0);
    }
}

@keyframes cloud {
    
    0% {
        left: -30%;
    }

    100% {
        left: 100%;
    }
}

@keyframes sun {
    
    0% {
        left: -30%;
    }

    100% {
        left: 105%;
    }
}

@keyframes sky {
    
    0% {
        background-color: $color-dark-footer;
    }

    5% {
        background-color:$color-dark-footer;
    }

    25% {
        background-color: #729dad;
    }

    60% {
        background-color: #30c7ff;
    }

    75% {
        background-color:#e6a139;
    }

    90% {
        background-color: #e03314;
    }

    97% {
        background-color: $color-dark-footer;
    }
}